<% include header.html %>

<div class="container">

  <div class="page-header">
    <h1>
      班级管理
      <small>所有班级</small>
      <div class="pull-right">
        <a class="btn btn-default" href="/class/add"><span class="glyphicon glyphicon-plus"></span> 添加班级</a>
      </div>
    </h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>班级</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% classList.forEach(function (_class, index) {%>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= _class.name %></td>
        <td>
          <a class="btn btn-default btn-xs" href="/class/edit/<%= _class.classId %>">编辑</a>
          <a class="btn btn-danger btn-xs" href="#">删除</a>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>

</div> <!-- /container -->

