<% include ../teacher/header.html %>

<div class="container">

  <div class="page-header">
    <h1>
      批改试卷
      <small><%= paperInfo.name %> - <%= studentInfo.name %></small>
      <div class="pull-right">
      </div>
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <form class="form-horizontal" id="submit-form" action="/teacher/mark/submit/<%= paperInfo.paperId %>/<%= studentInfo.studentId %>" method="post">
        <% markInfo.forEach(function (item, index) {%>
        <div class="mark-item">
          <div class="form-group">
            <label for="describe-<= item.questionId>" class="col-sm-2 control-label"><%= item.order %>. </label>
            <div class="col-sm-10">
              <p class="form-control-static question-describe"><%= item.describe %></p>
            </div>
          </div>
          <div class="form-group">
            <label for="studentAnswer" class="col-sm-2 control-label">学生答案</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= item.studentAnswer %></p>
            </div>
          </div>
          <div class="form-group">
            <label for="questionAnswer" class="col-sm-2 control-label">正确答案</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= item.questionAnswer %></p>
            </div>
          </div>
          <div class="form-group">
            <label for="score" class="col-sm-2 control-label">评分</label>
            <div class="col-sm-2">
              <input class="form-control" type="number" name="score[<%= index %>]" value="<%= item.studentScore %>" />
            </div>
            <label for="score" class="col-sm-2 control-label">(满分<%= item.questionScore %>分)</label>
          </div>
        </div>
        <hr/>
        <%})%>
          <div class="form-group">
            <label for="score" class="col-sm-2 control-label"></label>
            <div class="col-sm-2">
              <button id="submit-btn" type="submit" class="btn btn-default" data-text="提交成绩" data-loading-text="正在提交，请稍后..." data-redirect="/teacher/mark/<%= paperInfo.paperId %>">提交成绩</button>
            </div>
          </div>
      </form>

    </div>
  </div>

</div> <!-- /container -->

