<% include header.html %>

<div class="container">

  <div class="page-header">
    <h1>
      批改试卷
      <small><%= paperInfo.name %></small>
    </h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>学号</th>
        <th>班级</th>
        <th>姓名</th>
        <th>成绩</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% markList.forEach(function (item, index) {%>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= item.studentNumber%></td>
        <td><%= item.className %></td>
        <td><%= item.studentName %></td>
        <td>
          <%= item.score ? item.score + "分" : "未批改" %>
        </td>
        <td>
          <a class="btn btn-default btn-xs" href="/teacher/mark/<%= paperInfo.paperId %>/<%= item.studentId %>">批改</a>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>

</div> <!-- /container -->

