<% include header.html %>

<div class="container">

  <div class="page-header">
    <h1>
      试卷管理 
      <small>所有试卷</small>
      <div class="pull-right">
        <a class="btn btn-default" href="/paper/add"><span class="glyphicon glyphicon-plus"></span> 添加试卷</a>
      </div>
    </h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>试卷名称</th>
        <th>考试班级</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% paperList.forEach(function (paper, index) {%>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><a href="/paper/edit/<%=paper.paperId%>"><%= paper.name %></a></td>
        <td><%- paper.classTextList.join("<br/>") %></td>
        <td>
          <a class="btn btn-default btn-xs" href="/teacher/mark/<%=paper.paperId%>">批改</a>
          <a class="btn btn-default btn-xs" href="/paper/edit/<%=paper.paperId%>">编辑</a>
          <button type="button" class="btn btn-danger btn-xs">删除</button>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>

</div> <!-- /container -->

