<% include header.html %>

<div class="container">

  <div class="page-header">
    <h1>学生管理 <small>查看管理所有学生</small></h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>学号</th>
        <th>班级</th>
        <th>姓名</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% studentList.forEach(function (student, index) {%>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= student.studentNumber %></td>
        <td><%= student.className %></td>
        <td><%= student.studentName %></td>
        <td>
          <a class="btn btn-default btn-xs" href="/teacher/student/mark/<%= student.studentId %>">查看成绩</a>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>

</div> <!-- /container -->

