<% include ../teacher/header.html %>

<div class="container">

  <div class="page-header">
    <h1>
      编辑试卷
      <small><%= paperInfo.name || "添加新的试卷" %></small>
      <div class="pull-right">
        <% if (paperInfo.paperId) { %>
        <a class="btn btn-default" href="/paper/question/list/<%= paperInfo.paperId %>"><span class="glyphicon glyphicon-edit"></span> 编辑试题</a>
        <% } %>
      </div>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form id="submit-form" class="form-horizontal question-edit" action="/paper/<%= (typeof paperInfo.paperId === 'undefined') ? 'create' : ('update/' + paperInfo.paperId) %>" method="post">

        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">试卷名称</label>
          <div class="col-sm-10">
            <input name="name" type="text" class="form-control" value="<%= paperInfo.name || "" %>" required>
          </div>
        </div>

        <div class="form-group">
          <label for="beginTime" class="col-sm-2 control-label">开始时间</label>
          <div class='col-sm-10'>
            <div class="input-group datetimepicker datetimepicker-min">
              <input name="beginTime" type='text' class="form-control" value="<%= paperInfo.beginTime || "" %>" required />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="endTime" class="col-sm-2 control-label">结束时间</label>
          <div class='col-sm-10'>
            <div class="input-group datetimepicker datetimepicker-max">
              <input name="endTime" type='text' class="form-control" value="<%= paperInfo.endTime || "" %>" required />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="classList" class="col-sm-2 control-label">考试班级</label>
          <div class="col-sm-10">
            <% classList.forEach(function (_class, index) { %>
            <div class="checkbox">
              <label>
              <input name="classList[<%= index %>]" type="checkbox" value="<%= _class.classId %>" <%= (_class.selected ? "checked" : "") %> >
                <%= _class.name %>
              </label>
            </div>
            <% })%>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button id="submit-btn" type="submit" class="btn btn-default" data-text="保存" data-loading-text="正在保存，请稍后..." data-redirect="/teacher/paper">保存</button>
          </div>
        </div>

      </form>
    </div>
  </div>

</div> <!-- /container -->

