<% include ../teacher/header.html %>

<div class="container">

  <div class="page-header">
    <h1>编辑试卷 <small><%= paperInfo.name %></small></h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>题号</th>
        <th>题目描述</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% questionList.forEach(function (question, index) {%>
      <tr>
        <th scope="row"><%= question.order %></th>
        <td><%= question.describe %></td>
        <td>
          <button type="button" class="btn btn-default btn-xs">编辑</button>
          <button type="button" class="btn btn-danger btn-xs">删除</button>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>

</div> <!-- /container -->

