<% include header.html %>

<div class="container">

  <div class="page-header">
    <h1>
      考试列表
      <small>所有考试</small>
    </h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>考试名称</th>
        <th>考试时间</th>
        <th>考试状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% examList.forEach(function (exam, index) {%>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td><%= exam.name %></td>
        <td><%= exam.beginText %> 至 <%= exam.endText %></td>
        <td>
          <%= exam.score ? exam.score + "分" : statusMap[exam.status] %>
        </td>
        <td>
          <% if (exam.status === '1' && !exam.score) {%> <a class="btn btn-default btn-xs" href="/student/exam/<%= exam.paperId %>">进入考试</a> <%}%>
          <% if (exam.score) {%> <a class="btn btn-default btn-xs" href="/student/paper/<%= exam.paperId %>">查看试卷</a> <%}%>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>

</div> <!-- /container -->

