<% include ../teacher/header.html %>

<div class="container">

  <div class="page-header">
    <h1>
      正在考试
      <small><%= paperInfo.name %></small>
      <div class="pull-right">
      </div>
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <form id="submit-form" action="/student/exam/submit/<%= paperInfo.paperId %>" method="post">
        <% questionList.forEach(function (question, index) {%>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="describe-<%= question.questionId %>"><%= (question.order) %>. <%= question.describe %></label>
            </div>

            <% if (question.type === 1) { %>
            <div class="col-sm-3 radio">
              <label>
                <input type="radio" name="<%= question.questionId %>" value="A">
                A. <%= question.choice['A'] %>
              </label>
            </div>
            <div class="col-sm-3 radio">
              <label>
                <input type="radio" name="<%= question.questionId %>" value="B">
                B. <%= question.choice['B'] %>
              </label>
            </div>
            <div class="col-sm-3 radio">
              <label>
                <input type="radio" name="<%= question.questionId %>" value="C">
                C. <%= question.choice['C'] %>
              </label>
            </div>
            <div class="col-sm-3 radio">
              <label>
                <input type="radio" name="<%= question.questionId %>" value="D">
                D. <%= question.choice['D'] %>
              </label>
            </div>
            <% } %>

            <% if (question.type === 2) { %>
            <div class="col-sm-4">
              <input name="<%= question.questionId %>" type="text" class="form-control">
            </div>
            <% } %>

            <% if (question.type === 3) { %>
            <div class="col-sm-4">
              <textarea name="<%= question.questionId %>" class="form-control" rows="3"></textarea>
            </div>
            <% } %>
          </div>
        </div>
        <%})%>
        <button id="submit-btn" type="submit" class="btn btn-default" data-text="提交试卷" data-loading-text="正在提交，请稍后..." data-redirect="/student/examList">提交试卷</button>
      </form>
    </div>
  </div>

</div> <!-- /container -->

