<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">在线考试系统</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li <%if(nav.active=='index'){%>class="active"<%}%>><a href="/student">主页</a></li>
        <li <%if(nav.active=='exam'){%>class="active"<%}%>><a href="/student/examList">考试</a></li>
        <li <%if(nav.active=='class'){%>class="active"<%}%>><a href="/student/score">成绩</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><%= user.name %></a></li>
        <li><a href="/logout">退出</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

