<% include ../teacher/header.html %>

<div class="container">

  <div class="page-header">
    <h1>
      查看试卷
      <small><%= paperInfo.name %></small>
      <div class="pull-right">
      </div>
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <form class="form-horizontal">
        <% examInfo.forEach(function (item, index) {%>
        <div class="mark-item">
          <div class="form-group">
            <label for="describe-<= item.questionId>" class="col-sm-2 control-label"><%= item.order %>. </label>
            <div class="col-sm-10">
              <p class="form-control-static question-describe"><%= item.describe %></p>
            </div>
          </div>
          <div class="form-group">
            <label for="studentAnswer" class="col-sm-2 control-label">我的答案</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= item.studentAnswer %></p>
            </div>
          </div>
          <div class="form-group">
            <label for="questionAnswer" class="col-sm-2 control-label">正确答案</label>
            <div class="col-sm-10">
              <p class="form-control-static"><%= item.questionAnswer %></p>
            </div>
          </div>
          <div class="form-group">
            <label for="score" class="col-sm-2 control-label">得分</label>
            <div class="col-sm-2">
              <p class="form-control-static student-score"><%= item.studentScore %></p>
            </div>
            <label for="score" class="col-sm-2 control-label">(满分<%= item.questionScore %>分)</label>
          </div>
        </div>
        <hr/>
        <%})%>
      </form>

    </div>
  </div>

</div> <!-- /container -->

