<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="/assets/favicon.ico">-->

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/signin.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <h2 class="form-signin-heading">欢迎使用在线考试系统</h2>
      <div class="panel panel-default panel-signin">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#student" aria-controls="student" role="tab" data-toggle="tab">学生登录</a></li>
          <li role="presentation"><a href="#teacher" aria-controls="teacher" role="tab" data-toggle="tab">教师登录</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="student">
            <form class="form-horizontal form-signin" action="/student/login" method="POST">

              <div class="form-group">
                <label for="inputNumber" class="col-sm-3 control-label">学&nbsp;&nbsp;号</label>
                <div class="col-sm-9">
                  <input type="text" id="inputNumber" name="number" class="form-control" placeholder="请输入用户名" required autofocus>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-sm-3 control-label">密&nbsp;&nbsp;码</label>
                <div class="col-sm-9">
                  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="请输入密码" required>
                </div>
              </div>

              <% if (typeof tips !== 'undefined') {%>
              <div class="alert alert-danger"><span><%= tips %></span></div>
              <%}%>

              <div class="form-group">
                <div class="col-sm-6">
                  <button class="btn btn-primary btn-block" type="submit">登&nbsp;&nbsp;录</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn btn-primary btn-block" type="submit">注&nbsp;&nbsp;册</button>
                </div>
              </div>
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="teacher">
            <form class="form-horizontal form-signin" action="/teacher/login" method="POST">
              <div class="form-group">
                <label for="inputUsername" class="col-sm-3 control-label">用户名</label>
                <div class="col-sm-9">
                  <input type="text" id="inputUsername" name="username" class="form-control" placeholder="请输入用户名" required autofocus>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-sm-3 control-label">密&nbsp;&nbsp;码</label>
                <div class="col-sm-9">
                  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="请输入密码" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <button class="btn btn-primary btn-block" type="submit">登&nbsp;&nbsp;录</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn btn-primary btn-block" type="submit">注&nbsp;&nbsp;册</button>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>

    </div> <!-- /container -->

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>

